{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if alert_value %}
<div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
  <strong>Successfully added!</strong> You can fill again to add more errors.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<form action="{% url 'add_problem'%}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="prolang">Programming Language</label>
      <input type="text" class="form-control" id="prolang" name="prolang" placeholder="Enter Programming Language" required>
    </div>
    <div class="form-group">
      <label for="frlib">Framework/Library</label>
      <input type="text" class="form-control" id="frlib" name="frlib" placeholder="Enter Framework or library used">
    </div>
    <div class="form-group">
      <label for="error_name">Error Message</label>
      <input type="text" class="form-control" id="error_name" name="error_name" placeholder="What's the error" required>
    </div>
    <div class="form-group">
      <label for="sollink">Solution Link</label>
      <input type="text" class="form-control" id="sollink" name="sollink" placeholder="Enter Link of the solution" required>
    </div>
    <div class="form-group">
      <label for="remark">Remark</label>
      <input type="text" class="form-control" id="remark" name="remark" placeholder="Enter Remarks if any" required>
      <small>If you got no remarks, just put N/A</small>
    </div>
    <div class="form-group">
      <label for="code">Code Snippet</label>
      <textarea class="form-control" id="code" name="code" placeholder="Wanna Add Some code Snippets"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}